* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 110px 0px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0px;
  width: 110%;
  height: 100px;
  margin: 0px;
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
}

.header {
  display: flex;
  min-width: 200px;
}

.header h2 {
  color: #f9faf8;
}

#navbar-logo {
  width: auto;
  height: auto;
  margin-left: 10%;
  margin-right: 30px;
}

.navbar-links {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  
}

.navbar-link {
  font-size: 1.3rem;
  padding: 10px;
  color: #f9faf8;
  background: none;
  border: 1px solid #f9faf8;
  border-radius: 8px;
  cursor: pointer;
}