* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 110px 0px;
  background-color: #3b4d66;
}

button{
  cursor: pointer;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0px;
  width: 110%;
  height: 100px;
  margin: 0px;
  padding: 5px 50px;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  min-width: 200px;
}

.header h2 {
  color: #f9faf8;
}

#navbar-logo {
  width: auto;
  height: auto;
  margin-left: 10%;
  margin-right: 30px;
}

#navbar-logo:hover {
  animation-name: flip-icon;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: steps(1, end);
  -moz-animation-timing-function: steps(1, end);
  -ms-animation-timing-function: steps(1, end);
  -o-animation-timing-function: steps(1, end);
  animation-timing-function: steps(1, end);
}

@keyframes flip-icon {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.navbar-links {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
}

.navbar-link {
  font-size: 1.3rem;
  padding: 10px;
  color: #f9faf8;
  background: none;
  border: 1px solid #f9faf8;
  border-radius: 8px;
}

/* Main */
.main-section {
  margin: auto;
}

/* Intro */
.intro {
  margin: 0px auto;
  padding: 10px 100px;
  color: #f9faf8;
  background-color: #3b4d66;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro p {
  max-width: 85%;
  min-width: 210px;
}

.intro button {
  font-size: 1.3rem;
  padding: 10px;
  color: #f9faf8;
  background: none;
  border: 1px solid #f9faf8;
  border-radius: 8px;
}

.intro-img-container {
  max-width: 550px;
  min-width: 250px;
}

#intro-img {
  max-width: 100%;
  min-width: 50%;
}

/* Card Section */
.card-section {
  background-color: #edeeed;
  margin: auto;
  padding: 50px;
}

.cards-title {
  margin: auto;
  margin-bottom: 50px;
  width: fit-content;
  font-size: 2rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #3b4d66;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 10px;
  border: 1px black solid;
  box-shadow: 2px 2px 5px black;
  border-radius: 8px;
}

.card p {
  color: #f9faf8;
  font-size: 1.5rem;
}

.card-img {
  width: 200px;
}